*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navegador*/
.navegador{
    background-color: blue;
   nav-left: root;
    width: 100%;
    justify-items: end;
}

.navegador ul li a{
    color: white;
    font-size: 18px;
   
}
.navbar-brand{
    background-color: blue;
    color: white;
    align-items: end;
}

/* Navegador */

/* Imagenes de Portada*/

.d-block w-100{
    width: 100%;
}
/*Fin Imgenes de Portada*/

/* Cuadro de inicio*/

.cuadro-inicio{
    width: 800px;
    display: flex;
    
   border-radius: 5px;
   background-color: darkseagreen;
}

.cuadro-inicio-opciones{
    width: 400px;
    gap: 5px;
    margin-left: 10px; 

}
 @media (max-width: 792px) {
    .cuadro-inicio {
        width: 700px;
    }
   

}
@media (max-width:705px){
    .cuadro-inicio{
        width: 400px;
    }
   
        
    
}

/* Fin cuadro de inicio*/




/* Footer */
.footer{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    
    padding: 10px;
    color: white;
    width: 100%;
    
}
.footer .Distribuidoras{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    width: 300px;
}
.footer .Distribuidoras .redes a i{
    color: white;
    font-size: 18px;
    
    
}
.footer .sucursales{
    width: 200px;
    display: flex;
   flex-direction: row;
    gap: 30px;
    margin-left: 100px;
    justify-content: left;
    justify-content: center;
}
.footer .sucursales ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.footer .sucursales  ul li a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
   display: flex;
   flex-direction: row;
   gap: 5px;
   justify-content: center;
 
    
    
  }
  .sucursales-interior  ul li a {
    justify-content: center;
   
   


  }

  @media(max-width:950px){
    .footer {
        display: flex;
        flex-direction: column;
        
    }

  }
  @media(max-width:600px){
    .footer .sucursales  ul li a {
        margin: 5px 5px 5px 5px;
    }
  }

@media(max-width:600px){
    .footer .sucursales  ul li a {
        margin: 5px 5px 5px 5px;
       column-gap: 3px;
       box-sizing: content-box;

    }
}
  
/* Fin de Footer*/

/* Planilla de Contacto*/
.formulario{
    
  justify-content: center;
  margin-left: 250px;
    width: 600px;
    background-color: tomato;
    margin: 40 px;
    border-radius: 3px solid;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "contactanos       contactanos"
                          "nombre      email"
                          "tel                  asunto"
                          "mensaje             mensaje"
                          "boton                boton";
}
.formulario h2{
    grid-area: contactanos;
    color: white;
    padding: 5px;
}
.formulario label{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}
.formulario label input .formulario label textarea{
    background-color: turquoise;
    border: none;
    border-bottom: 1px white;
    padding: 10px;
    color: white;
}
.formulario label:nth-child(1){
    grid-area: nombre completo
}
.formulario label :nth-child(2){
    grid-area: email;
}
.formulario label :nth-child(3){
    grid-area: tel;
}
 .formulario label :nth-child(4){
    grid-area: asunto;
 }
 .formulario label :nth-child(5){
    grid-area: mensaje;
 }
.formulario .button{
    grid-area: boton;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

@media(max-width:950px){
  .formulario{
    margin-left: 200px;
  }
}
@media(max-width:900px){
    .formulario{
      margin-left: 150px;
      width: 450px;
      
    }
  }
  @media(max-width:800px){
    .formulario{
        margin-left: 100px;
         width: 409px;
    }
  }
  @media(max-width:550px){
    .formulario{
        margin-left: 40px;
         width: 409px;
    }
  }


/* Fin Planilla de contacto*/

/* Mapa de ubicacion*/
.mapa{
    width: 700px;
}
@media(max-width:768px){
    .mapa{
        width: 500px
    }
  
}
@media(max-width:508px){
    .mapa{
        width:400px

    }
}



/* Productos Descripcion*/

.productos-descripcion{
    display: grid;
    grid-template-columns: 300px 300px;
   column-gap: 300px;
   justify-content: center;
   
}
.producto{
    width: 200px;
}
.cuadro-producto{
    width: 300px;
    border-radius: 5px;
    border: solid;
    border-color: black;
 margin: 10px;
 padding: 5px;
}
.boton-compra{
width: 200px;
font-size: 18px;
background-color: blue;
border-radius: 5px;
color: white;
justify-content: end;

}
@media(max-width:930px){
    .productos-descripcion{
        column-gap: 150px;
    }
}
@media(max-width:790px){
    .productos-descripcion{
        column-gap: 10px;
       display: flex;
       flex-direction: column;
      margin-left: 80px;
    }
}
/* Productos Descripcion*/