* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

.navegador {
  width: 100%;
  background-color: #1c059e;
  border: solid;
  border-radius: 2px;
  border-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegador ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navegador ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
}

.navegador .fa-bars {
  display: none;
  align-items: end;
}

@media (max-width: 620px) {
  .navegador .fa-bars {
    font-size: 30px;
    display: block;
    align-items: end;
    color: white;
    justify-content: end;
  }
  .navegador .fa-bars:hover + ul {
    right: 0;
  }
  .navegador ul:hover {
    right: 0;
  }
  .navegador ul {
    right: -350px;
    top: 0;
    position: fixed;
    width: 180px;
    height: 300px;
    z-index: 5;
    background-color: #1c059e;
    flex-direction: column;
    justify-content: start;
    padding: 1px;
    font-size: 18px;
    margin: 0;
    align-items: center;
  }
  .navegador ul li a {
    color: white;
    padding: 10px 0;
  }
}
/*.navegador-items{
    color: black;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   font-family: 'Times New Roman', Times, serif;
    list-style: none;




}

.navegador-items .ul .li .a{
    color: black;
    background: fixed;

}
*/
.contenedor-titulo {
  background-color: #1c059e;
}

.contenedor-titulo {
  width: 100%;
  background-color: #1c059e;
}

.titulo_inicio {
  width: 100%;
  height: 50px;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.Span_titulo {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

/* Titulo de la pagina inicio*/
/* Presentacion Inicio*/
.contenedor-pag-inicio {
  background-color: #1c059e;
  justify-content: center;
  padding: 2px;
}
.contenedor-pag-inicio .titulo {
  color: white;
  text-align: center;
}
.contenedor-pag-inicio .descripcion {
  color: white;
  font-size: 20px;
  text-align: center;
}
.contenedor-pag-inicio .descripcion {
  color: white;
  text-align: center;
  margin: 2px;
}

/*Presentacion Inicio*/
.contenedor-cuadro-ayuda {
  width: 350px;
  height: 250px;
  padding: 5px;
  margin-left: 450px;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 63, 218);
  border: solid;
  border-radius: 5px;
  border-color: white;
  color: white;
  font-size: 20px;
}
.contenedor-cuadro-ayuda .parrafo-ayuda {
  min-height: 60px;
}

@media (max-width: 850px) {
  .contenedor-cuadro-ayuda {
    min-height: 60px;
    margin: 180px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .contenedor-cuadro-ayuda {
    margin: 0;
    width: 100%;
  }
}
.boton-compra {
  background-color: #1c059e;
  color: white;
}

.footer {
  padding: 10px;
  background-color: #1c059e;
  justify-content: center;
  align-items: center;
  color: white;
}

.rede {
  color: white;
  margin: 5px;
}

.iconos {
  color: white;
  font-size: 40px;
  margin-left: 5px;
}

.items-footer {
  color: white;
  font-size: 20px;
}

.imagen-contacto {
  width: 3oopx;
  height: 300px;
}

@media (max-width: 500px) {
  .imagen-contacto {
    width: 100%;
    height: 300px;
  }
}
.titulo-contacto {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #1c059e;
}

.formulario {
  width: 500px;
  height: 300px;
  margin-left: 450px;
  background-color: rgb(121, 119, 119);
  font-size: 18px;
  color: white;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px;
  grid-template-areas: "nombre          telefono" "mail              asunto" "ingresecomentario   ingresecomentario    " "button               button";
}

.nombre {
  grid-area: nombre;
}

.telefono {
  grid-area: telefono;
}

.mail {
  grid-area: mail;
}

.asunto {
  grid-area: asunto;
}

.ingresecomentario {
  grid-area: ingresecomentario;
}

.button {
  grid-area: button;
  color: white;
  background-color: #1c059e;
  border-radius: 1px;
}

@media (max-width: 700px) {
  .formulario {
    width: 100%;
    height: 400px;
    margin: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  .formulario .button {
    margin-top: 20px;
  }
}
.titulo-producto {
  background-color: #1c059e;
  color: white;
  margin: 1px;
  padding: 2px;
  text-align: center;
}

.contenedor-productos {
  background-color: rgb(7, 63, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-producto {
  height: 450px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}
.tarjeta-producto .producto {
  width: 250px;
  height: 250px;
  overflow: hidden;
  column-gap: 5px;
}

.info-producto {
  width: 150px;
  height: 150px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  margin: 0px;
}
.info-producto .boton-compra {
  margin-bottom: 5px;
}

@media (max-width: 850px) {
  .tarjeta-producto {
    width: 50%;
    height: 450px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
  }
}
@media (max-width: 600px) {
  .tarjeta-producto {
    width: 100%;
    height: 450px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
  }
}
/*sobre nosotros*/
.contenedor-nosotros {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #1c059e;
  padding: 1px;
}

.cuadro-1 {
  border: solid;
  border-radius: 1px;
  border-color: white;
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-areas: "titulo-cuadro     parrafo-cuadro-1" "imagen-sobren    parrafo-cuadro ";
}

.titulo-cuadro {
  grid-area: titulo-cuadro;
  color: white;
}

.parrafo-cuadro-1 {
  grid-area: parrafo-cuadro-1;
}

.imagen-sobren {
  width: 200px;
  grid-area: imagen-sobren;
}

.parrafo-cuadro {
  grid-area: parrafo-cuadro;
  color: white;
}

@media (max-width: 800px) {
  .contenedor-nosotros {
    width: 100%;
  }
}
/* sobre nosotros*/
.contenedor-casa-central {
  background-color: #1c059e;
  color: white;
  text-align: center;
}

.mapa {
  width: 600px;
  object-fit: cover;
}

@media (max-width: 700px) {
  .mapa {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .mapa {
    width: 100%;
  }
}
.boton-compra, .button {
  width: 150px;
  height: 40px;
  padding: 1px 1px 1px 1px;
  justify-content: center;
  align-content: center;
  border-radius: 1px;
}

.imagen-ubicacion {
  width: 450px;
  height: 300px;
}

@media (max-width: 500px) {
  .imagen-ubicacion {
    width: 100%;
    height: 300px;
  }
}
.img-carousel {
  width: 100%;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
