
.contenedor-cuadro-ayuda{
    width: 350px;
    height: 250px;
    padding: 5px;
  margin-left: 450px;
    justify-content: center;
    align-items: center;
    background-color:map-get($color , color5 );
    border: solid;
    border-radius: 5px;
    border-color:map-get($color , color2) ;
    color: map-get($color , color2);  
    font-size: 20px;
    .parrafo-ayuda{
        min-height: 60px;
    }
   
}
@media (max-width:850px){
    .contenedor-cuadro-ayuda{
       min-height: 60px;
        margin: 180px;
        width: 350px;
    }
}
@media (max-width:500px){
    .contenedor-cuadro-ayuda{
        margin: 0;
        width: 100%;
    }
}


