

.footer{
    padding: 10px;
    background-color: #1c059e ;
    justify-content: center;
    align-items: center;
    color: white;
}
 .rede{
    color: white;
    margin: 5px;
 }
 .iconos{
    color: white;
    font-size: 40px;
    margin-left: 5px; 
 }
 .items-footer{
    color: white;
    font-size: 20px; 
 }