/* Presentacion Inicio*/
.contenedor-pag-inicio{
    background-color:#1c059e ;
    justify-content: center;
    padding: 2px;
    .titulo{
        color: white;
        text-align: center;
    }
      .descripcion{
        color: white;
        font-size: 20px;
        text-align: center;       
    }
          .descripcion{
            color:white;
            text-align: center;
            margin: 2px;
    }    
}


/*Presentacion Inicio*/
