.navegador{
    width: 100%;
    background-color: map-get($color, color1 );
    border: solid;
    border-radius: 2px;
    border-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        li a{
            display: block;
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 10px 10px;
    }
    }}
 .navegador .fa-bars{
    display: none;
    align-items: end;  
 }
@media(max-width:620px){
    .navegador .fa-bars{
        font-size: 30px;
        display: block;
         align-items: end;
        color: white;
        justify-content: end;
        justify-content: left;
    }
        .navegador .fa-bars:hover + ul{
            right: 0;           
        }
        .navegador ul:hover{
            right: 0;
        }
       .navegador ul{
        right: -350px;
        top: 0;
        position: fixed;
        width: 180px; 
        height: 300px;
        z-index: 5;
        background-color: map-get($color, color1 );
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1px;
        font-size: 18px;
        margin: 0;
        align-items: center;
    }
    .navegador ul li a{
        color: white;
padding:10px 0;
    }
}
   
    
 
   
