
/*sobre nosotros*/
.contenedor-nosotros{
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #1c059e;
    padding: 1px; 
}
.cuadro-1{
    border: solid;
    border-radius: 1px;
    border-color: white;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-areas:"titulo-cuadro     parrafo-cuadro-1" 
                         "imagen-sobren    parrafo-cuadro ";
} 
.titulo-cuadro {
    grid-area: titulo-cuadro ;
    color: white;
}
.parrafo-cuadro-1{
    grid-area: parrafo-cuadro-1;   
}
.imagen-sobren{
    width: 200px;
    grid-area:imagen-sobren ;
}
.parrafo-cuadro {
    grid-area:parrafo-cuadro  ;
    color: white;
}
@media(max-width:800px){
    .contenedor-nosotros{
        width: 100%;
    }
}
@media(max-width:800px){
    .cuadro-1{
    border: solid;
    border-radius: 1px;
    border-color: white;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-areas:"titulo-cuadro     parrafo-cuadro-1" 
                         "imagen-sobren    parrafo-cuadro ";
} 
.titulo-cuadro {
    grid-area: titulo-cuadro ;
    color: white;
}
.parrafo-cuadro-1{
    grid-area: parrafo-cuadro-1;    
}
.imagen-sobren{
    width: 200px;
    grid-area:imagen-sobren ;
}
.parrafo-cuadro {
    grid-area:parrafo-cuadro  ;
    color: white;
}
}
/* sobre nosotros*/