
.titulo-producto{
    background-color: #1c059e;
    color: white;
    margin: 1px;
    padding: 2px;
    text-align: center;
    
}
.contenedor-productos{
    background-color:map-get($color, color5); 
    display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   
}
.tarjeta-producto{
   
    height: 450px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;


        .producto{
            
        width: 250px;
        height: 250px;

        overflow: hidden;
        column-gap: 5px}}
.info-producto{
    width: 150px;
    height: 150px;
    
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 0px;

       .boton-compra{
         margin-bottom: 5px;
}
}
@media(max-width:850px){
    .tarjeta-producto{
        width: 50%;
        height: 450px;
        border-style: solid;
        border-radius: 5px;
        border-color: white;
    }

}
@media(max-width:600px){
    .tarjeta-producto{
        width: 100%;
        height: 450px;
      
        border-style: solid;
        border-radius: 5px;
        border-color: white;
    }

}